/**
* CSS file to hold styles that apply across the application
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Montserrat:wght@200;400;600;800&display=swap");

html,
body {
    /*margin: 0 auto;*/
    /*margin: 2.54cm 2.54cm 2.54cm 2.54cm;*/
    /*height: 100%;*/
    font-family: "Montserrat", sans-serif;
}

main {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 1em;
}

#mainLeft {
    border-right: 1px solid lightgray;
    padding-right: 2em;
}

#mainRight {
    padding-left: 2em;
}

header {
    text-align: center;    
}

.hr {    
    border-width: 3px;
}

h1 {
    font-weight: 300;
    /*font-family: "Cormorant Garamond", serif;*/
    font-size: 3rem;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

h4 {
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

h5 {
    font-weight: 400;
    font-size: 0.75rem;
    margin: 0;
}

p {   
    font-size: 0.9rem;    
}

li {    
    font-size: 0.9rem;
}

    li::marker {
        color: #4e567e;
    }


a {    
    color: black;        
}

    a:hover {
        color: #4e567e;
    }

section {
    position: relative;
}   

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }
